<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Code&Share[42]: Static Site Generators">
    <title>{{ title }} | SSG</title>
    <link href="/assets/css/grid.css" rel="stylesheet"/>
    <link href="/assets/css/style.css" rel="stylesheet"/>
  </head>

  <body>
    <div id="pageWrapper">
      
      <header>
        {% include "menu.html" %}
      </header>

      <div id="mainWrapper">
        {% block mainContent %}{% endblock mainContent %}        
      </div>

    </div>

    <!-- scripts here -->
    <script src='/assets/js/index.js' type="module"></script>
  </body>
</html>