{% extends "base.njk" %}

{% block mainContent %}

  <div class="maxWidth">
    {{ content | safe }}
    
    <div id='postOverviewWrapper'>
      {% for post in collections.posts | reverse %}
        <a
          href='{{ post.url }}'
          title='{{ post.data.title }}'
          alt='{{ post.data.title }}'>
          <img src="/assets/images/{{ post.data.imageSrc }}" />
          <span class='title'>{{ post.data.title }}</span>
        </a>
      {% endfor %}
    </div>
  </div>

{% endblock mainContent %}