/* https://philipwalton.github.io/solved-by-flexbox/demos/grids/ */

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin: 0px 0px 0px -2.5rem; /* -3rem 0 0em -3rem; */
}

.Grid > .Grid-cell {
  padding: 0px 0px 0px 2.5rem; /* 3rem 0 0 3rem; */
  flex: 1;
}

.TwoColumns {
  /* border: 1px solid pink; */
}

@media screen {
  .TwoColumns > .Grid-cell {
    flex: 0 0 100%;
    word-break: break-word;
  }
}

@media (min-width: 90ch) {
  .TwoColumns > .Grid-cell {
    flex: 0 0 50%;
  }
}